
php_value date.timezone "Europe/Moscow"

DirectoryIndex index.html
AddDefaultCharset UTF-8
Options -Indexes

ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

# мои ограничения на файлы
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www.)?otrada\.pp.ua/.*$ [NC]
RewriteRule .(jpg|gif|png|css|jar|jad|apk|zip|txt)$ - [F]

